/* ============================================================
    CONTACT 
   ============================================================ */

p {
    font-family: "Nexa";
    font-size: 26px;
    color: white;
}

.body-container {
    padding: 0px 50px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 105px;
}

.left-contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.social-media-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 40px;
}


.social-media-section.compact{
    flex-direction: column;
}

.mail-message {
    display: flex;
    flex-direction: column;
    height: 631px;
    width: 100%;
    gap: 7px;
    background: linear-gradient(225deg, #78838b, #c07944);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.mail-message form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mail-message input {
    font-family: "Nexa";
    font-size: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 52px;
    padding: 10px 22px;
    transition: all 0.1s ease-in-out;
    outline-color: white;
}

.mail-message input:focus {
    outline-color: #ff9b51;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.mail-message textarea {
    font-family: "Nexa";
    font-size: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 177px;
    resize: none;
    padding: 10px 22px;
    transition: all 0.1s ease-in-out;
    outline-color: white;
}

.mail-message textarea:focus {
    outline-color: #ff9b51;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.mail-message label {
    font-family: "Nexa";
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.mail-message button {
    font-weight: 800;
    width: 130px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    color: black;
    border: none;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.mail-message button:hover {
    scale: 1.05;
    background-color: rgb(224, 224, 224);
}

.mail-message button:active {
    scale: 0.95;
}

.mail-message p {
    font-size: 20px;
    color: black;
}

.social-media-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: "Nexa";
    font-weight: 800;
    font-size: 32px;
    padding: 20px 32px;
    border-radius: 30px;
    background: linear-gradient(225deg, #78838b, #c07944);
    color: white;
    border: none;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.social-media-contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.social-media-contact:hover {
    scale: 1.1;
}

.social-media-contact:active {
    scale: 0.9;
}

@media screen and (max-width : 1500px) {
    .body-container {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
    }
    .left-contact-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .right-contact-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}
