

/* Top-bar buttons */
#sidebar-button {
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    background: #eaefef7a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        transform 0.1s ease,
        background-color 100ms ease;
}

#sidebar-button:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

#sidebar-button:active {
    transform: scale(0.9);
    background-color: #f0f0f0;
}

.login-button {
    min-width: 124px;
    min-height: 56px;
    font-size: 24px;
    font-family: "Nexa", sans-serif;
    font-weight: 800;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 28px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.login-button:hover {
    scale: 1.1;
}

.login-button:active {
    scale: 0.9;
}

/* Product text */
.nama-produk {
    font-size: 20px;
    font-family: "Nexa", sans-serif;
    font-weight: 800;
    color: white;
}

.deskripsi-singkat-produk {
    font-size: 15px;
    font-family: "Nexa", sans-serif;
    font-weight: 200;
    color: white;
}

/* ============================================================
   Freeware  (freeware.blade.php)
   ============================================================ */

.main-freeware {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    padding: 30px 54px 54px 54px;
    z-index: 1;
    height: 100vh;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
}

#list-product-freeware {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 335px);
    grid-auto-rows: 363px;
    gap: 29px;
    padding: 20px 25px;
    /* flex-shrink: 0; */
    /* scrollbar-width: none; */
    overflow-y: auto;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 5%,
        black 95%,
        transparent 100%
    );
}
#list-product-freeware::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.main-freeware {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    padding: 30px 54px 54px 54px;
    z-index: 1;
    height: 100vh;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
}

.contaner-harga-freeware {
    color: white;
    font-family: "Nexa";
    font-size: 20px;
    font-weight: 800;
}

/* ============================================================
   Terms * Condition
   ============================================================ */
.main-terms-condition {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    padding: 30px 54px 54px 54px;
    z-index: 1;
    height: 100vh;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
}

.title-terms {
    white-space: nowrap;
}

.terms-condition-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 40px 20px;
    overflow-y: auto;
}

.terms-condition-content {
    width: 100%;
    max-width: 1268px;
    background: linear-gradient(225deg, #78838b, #c07944);
    border-radius: 30px;
    padding: 10px 50px;
    color: white;
    font-family: "Nexa", sans-serif;
    font-size: 32px;
    line-height: 1.8;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 683px;
    text-align: justify;
    text-shadow: black;
}

.terms-condition-content p {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: white;
}

.terms-condition-content span {
    color: #ff9b51;
}

.terms-condition-content h2:first-child {
    margin-top: 0;
}

.terms-condition-content p {
    margin-bottom: 20px;
    font-weight: 400;
}

.terms-condition-content::-webkit-scrollbar {
    display: none;

    overflow-y: auto;
    scroll-behavior: smooth;
}

/* Terms List Styling */
.terms-list {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
}

.terms-list li {
    font-size: 32px;
    margin-left: 30px;
    margin-bottom: 15px;
    position: relative;
    line-height: 50px;
}

.terms-list li:before {
    content: "•";
    position: absolute;
    left: -20px;
    color: #f7f7f7;
    font-weight: bold;
    font-size: 32px;
}

/* ============================================================
    CONTACT 
   ============================================================ */

p {
    font-family: "Nexa";
    font-size: 26px;
    color: white;
}

.main-contact {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    padding: 30px 54px 54px 54px;
    z-index: 1;
    height: 100vh;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
}

p {
    font-family: "Nexa";
    font-size: 26px;
    color: white;
}
.list-product-freeware::-webkit-scrollbar {
    display: none;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.body-container {
    padding: 0px 120px;
    height: 100%;
    display: flex;
    gap: 105px;
}

.top-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-contact-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-media-section {
    display: flex;
    gap: 40px;
}

.mail-message {
    display: flex;
    flex-direction: column;
    height: 631px;
    width: 100%;
    gap: 7px;
    background: linear-gradient(225deg, #78838b, #c07944);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.mail-message form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mail-message input {
    font-family: "Nexa";
    font-size: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 52px;
    padding: 10px 22px;
    transition: all 0.1s ease-in-out;
    outline-color: white;
}

.mail-message input:focus {
    outline-color: #ff9b51;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.mail-message textarea {
    font-family: "Nexa";
    font-size: 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 177px;
    resize: none;
    padding: 10px 22px;
    transition: all 0.1s ease-in-out;
    outline-color: white;
}

.mail-message textarea:focus {
    outline-color: #ff9b51;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.mail-message label {
    font-family: "Nexa";
    font-weight: 800;
    font-size: 24px;
    color: white;
}

.mail-message button {
    font-weight: 800;
    width: 130px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    color: black;
    border: none;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.mail-message button:hover {
    scale: 1.05;
    background-color: rgb(224, 224, 224);
}

.mail-message button:active {
    scale: 0.95;
}

.mail-message p {
    font-size: 20px;
    color: black;
}

.social-media-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: "Nexa";
    font-weight: 800;
    font-size: 32px;
    padding: 20px 32px;
    border-radius: 30px;
    background: linear-gradient(225deg, #78838b, #c07944);
    color: white;
    border: none;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
}

.social-media-contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.social-media-contact:hover {
    scale: 1.1;
}

.social-media-contact:active {
    scale: 0.9;
}

/* ============================================================
    LOGIN PAGE 
   ============================================================ */

.background-img-login {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.main-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    padding: 0px 200px;
}

.login-content {
    font-family: "Nexa", sans-serif;
    display: flex;
    gap: 72px;
    text-align: center;
}

.login-content h4 {
    font-weight: 800;
    font-size: 24px;
    color: #ffffff;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    padding: 20px 83px;
    border-radius: 20px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); */
    box-shadow:
        0 0 15px #ffffff,
        0 0 30px #ffffff,
        0 0 60px #ffffff;
    height: 680px;
    width: 627px;
}

.login-container h2 {
    font-weight: 800;
    font-size: 36px;
    color: #333;
    text-align: center;
}

.greet p {
    text-align: center;
}

.login-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-group input {
    font-family: "Nexa", sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    height: 52px;
    border: 1px solid gray;
    background-color: #ffff;
    color: rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}

.input-group input:focus {
    outline-color: #ff9b51;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.login-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.login-button-submit {
    height: 50px;
    font-size: 24px;
    background-color: #e76400;
    color: #ffff;
    border: none;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
}

.signup-link a {
    color: #e76400;
    font-weight: 800;
}

.signup-link {
    color: red;
    text-align: start;
}
